[submodule "deps/pokeagb"]
	path = deps/pokeagb
	url = https://github.com/Touched/g3headers
[submodule "deps/pokeruby"]
	path = deps/pokeruby
	url = https://github.com/pret/pokeruby
        ignore = dirty
[submodule "deps/armips"]
	path = deps/armips
	url = https://github.com/Kingcom/armips
[submodule "deps/pokedex-data"]
	path = deps/pokedex-data
	url = https://github.com/Touched/pokedex-data
