[submodule "deps/pokeagb"]
	path = deps/pokeagb
	url = https://github.com/Touched/g3headers
[submodule "deps/pokeruby"]
	path = deps/pokeruby
	url = https://github.com/pret/pokeruby
        ignore = dirty
